<form role="form">
    <fieldset>
      <legend>Add a Receipt</legend>
        <div class="form-group has-success has-feedback">
          <label>Store Name</label>
          <input type="text"
                 class="form-control"
                 placeholder="e.g. Gregsons"/>
        </div>

        <div class="form-group">
          <label>Enter Amount Paid (£)</label><br>
          <input type="number" name="currency" min="0" max="999999" step="0.01" size="4" 
    title="CDA Currency Format - no pound sign and no comma(s) - pennies (.##) are optional" />
        </div>

        <div class="form-group">
	 
        </div>
		
		<div class="form-group">
			<label>Upload picture of Receipt:</label><br>
			<button ng-click="getPhoto(pictureSource.PHOTOLIBRARY);">Select Photo:</button>
		</div>
		
    </fieldset>
    <hr> 

    <button class="btn btn-primary btn-block" type="submit" ng-click="login()">
      Submit
    </button>

    <div ui-content-for="navbarAction">
      <a class='btn' id="btnSubmit" value="Submit" onclick="uploadPhoto();">Submit</a>
    </div>

  </form>
 </div>
</div>

