<div class="scrollable">
 <div class="scrollable-content section"> 
<form role="form" ng-submit='login(data)'>
	<fieldset>
		<legend>User Details</legend>
		
		<div class="form-group">
			<label>Username</label>
			<input type="text"  class="form-control"  placeholder={{username}} readonly="readonly">
		</div>
		
        <div class="form-group has-success has-feedback">
			<label>Name</label>
			<input type="text" class="form-control" placeholder={{data.name}} ng-model="data.name">
        </div>

        <div class="form-group">
			<label for="singleSelect">Age Range</label><br>
			<select name="singleSelectAge" ng-model="data.age">
				<option>11-20</option>
				<option>21-30</option>
				<option>31-40</option>
				<option>41-50</option>
				<option>51-60</option>					
				<option>61-70</option>
			</select>
        </div>
		
		 <div class="form-group">
			<label>Email</label>
			<input type="text"  class="form-control"  placeholder={{data.email}} readonly="readonly">
		</div>

		<div class="form-group">
			<label for="singleSelect">Gender</label><br>
				<select name="singleSelectGender" ng-model="data.gender">
				<option>Male</option>
				<option>Female</option>
				<option>Other</option>
				<option>Prefer Not To Say</option>
			</select>
		</div>
		
		<div class="form-group">
			<label>Postcode</label>
			<input type="text"  class="form-control"  placeholder={{data.postcode}} ng-model="data.postcode">
		</div>
		
		<div class="form-group">
			<label>Family/Individual Shopping</label>
			<input type="text"  class="form-control"  placeholder={{data.grouping}} readonly="readonly">
		</div>
		
		<div class="form-group">
			<label>New Password</label>
			<span>You must contact the app developer if you wish to change your password or other uneditable fields. Their details are contained within the <a href="#/contact">Contact Page here.</a></span>
        </div>
		
	</fieldset>
    <hr>

	<button class="btn btn-primary btn-block" type="submit" ng-click="editsubmit(writetofile)">
		Login
	</button>

</form>
</div>
</div>