<form role="form" ng-submit='login(data)'>
    <fieldset>
      <legend>User Details</legend>
        <div class="form-group has-success has-feedback">
          <label>Name</label>
          <input type="text"
                 class="form-control"
                 placeholder="e.g. Joe Bloggs"
				  ng-model="data.name">
        </div>

        <div class="form-group">
           <label for="singleSelect">Age Range</label><br>
    <select name="singleSelectAge" ng-model="data.age">
      <option>11-20</option>
      <option>21-30</option>
	  <option>31-40</option>
	  <option>41-50</option>
	  <option>51-60</option>
	  <option>61-70</option>
    </select>
        </div>
		
		 <div class="form-group">
          <label>Email Address</label>
          <input type="email"
                 class="form-control"
                 placeholder="e.g. me@example.com"
				  ng-model="data.email">
        </div>

        <div class="form-group">
           <label for="singleSelect">Gender</label><br>
    <select name="singleSelectGender" ng-model="data.gender">
      <option>Male</option>
      <option>Female</option>
	  <option>Other</option>
	  <option>Prefer Not To Say</option>
    </select>
        </div>
		
		<div class="form-group">
           <label>Postcode</label>
          <input type="text"
                 class="form-control"
                 placeholder="e.g. LA1 9ZZ"
				 ng-model="data.postcode">
    </select>
        </div>
		
		<div class="form-group">
           <label for="singleSelect">Family/Individual Shopping</label><br>
    <select name="singleSelectGrouping" ng-model="data.grouping">
      <option>Family</option>
      <option>Individual</option>
    </select>
        </div>
		
    </fieldset>
    <hr>

    <button class="btn btn-primary btn-block">
      Login
    </button>

  </form>
 </div>
</div>
