<div class="scrollable">
 <div class="scrollable-content section"> 
 <legend>User Details</legend>

  <div style='-webkit-user-drag: none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;'>
    <p>
      This page will in the future tell you your user details, in case you want to review them or decide to change them.
    </p>
	<p>
      To display the user data below, use the link below to edit user data. Then return to this page and the data will be updated.
    </p>
	<span ng-if="data.name != null">Name: {{data.name}}<br></span>
	<span ng-if="data.age != null">Age Range: {{data.age}}<br></span>
	<span ng-if="data.gender != null">Gender: {{data.gender}}<br></span>
	<span ng-if="data.postcode != null">Postcode: {{data.postcode}}<br></span>
	<span ng-if="data.grouping != null">Family/Individual: {{data.grouping}}<br></span>
	<span ng-if="data.email != null">Email Address: {{data.email}}<br></span>
    <p>
      If one wishes to change their data, the link below will bring them to the page that will allow them to edit their account.
    </p>
	<p>
	<a href="#/accountedit" class="btn btn-default">User Edit</a>
    </p>
  </div>
 </div>
</div>